<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
    <h1>ADMIN</h1>
    
    <% if (user) { %>
      <h1>Welcome, <%= user.first_name %>!</h1>
      <h2>You have exclusive access.</h2>
      <a href="/log-out">Log Out</a>
    <% } else { %>
      <h1>Unauthorized</h1>
      <p>You do not have access to this page.</p>
    <% } %>
</body>
</html>
